<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>reverse_indicator_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,188},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,303},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,188},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,126},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,126},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,294},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,179},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,64},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,64},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,64},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,409},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,294},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,179},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,64},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
            <key>reverse_indicator_left_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{113,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,60}}</string>
                <key>sourceSize</key>
                <string>{113,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reverse_indicator_left.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5aad4af437ffe735e1514c232ffe5544$</string>
            <key>textureFileName</key>
            <string>reverse_indicator_left.png</string>
        </dict>
    </dict>
</plist>
