<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run_indicator_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{199,62}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{199,62}}</string>
                <key>sourceSize</key>
                <string>{219,110}</string>
            </dict>
            <key>run_indicator_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,151},{181,84}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{181,84}}</string>
                <key>sourceSize</key>
                <string>{219,110}</string>
            </dict>
            <key>run_indicator_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,163},{189,86}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{189,86}}</string>
                <key>sourceSize</key>
                <string>{219,110}</string>
            </dict>
            <key>run_indicator_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,80},{199,84}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{199,84}}</string>
                <key>sourceSize</key>
                <string>{219,110}</string>
            </dict>
            <key>run_indicator_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,1},{201,82}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{201,82}}</string>
                <key>sourceSize</key>
                <string>{219,110}</string>
            </dict>
            <key>run_indicator_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1},{201,76}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,22},{201,76}}</string>
                <key>sourceSize</key>
                <string>{219,110}</string>
            </dict>
            <key>run_indicator_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1},{201,64}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,31},{201,64}}</string>
                <key>sourceSize</key>
                <string>{219,110}</string>
            </dict>
            <key>run_indicator_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,1},{199,78}}</string>
                <key>offset</key>
                <string>{-10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{199,78}}</string>
                <key>sourceSize</key>
                <string>{219,110}</string>
            </dict>
            <key>run_indicator_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,78},{199,84}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{199,84}}</string>
                <key>sourceSize</key>
                <string>{219,110}</string>
            </dict>
            <key>run_indicator_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,165},{199,86}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{199,86}}</string>
                <key>sourceSize</key>
                <string>{219,110}</string>
            </dict>
            <key>run_indicator_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,66},{199,84}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{199,84}}</string>
                <key>sourceSize</key>
                <string>{219,110}</string>
            </dict>
            <key>run_indicator_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,84},{191,84}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{191,84}}</string>
                <key>sourceSize</key>
                <string>{219,110}</string>
            </dict>
            <key>run_indicator_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,149},{181,84}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{181,84}}</string>
                <key>sourceSize</key>
                <string>{219,110}</string>
            </dict>
            <key>run_indicator_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,64},{181,84}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{181,84}}</string>
                <key>sourceSize</key>
                <string>{219,110}</string>
            </dict>
            <key>run_indicator_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,169},{181,86}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{181,86}}</string>
                <key>sourceSize</key>
                <string>{219,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_indicator.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:114a65243ac1aaac526afed7fd7a9955$</string>
            <key>textureFileName</key>
            <string>run_indicator.png</string>
        </dict>
    </dict>
</plist>
